h1{
  color:darkblue;
  font-style: oblique;
  font-size: 12;
text-align: center;
background-color: lightblue;
}
h2{
  font-size: 8;
  color:brown;
}
h3{
  font-size: 8;
  color: maroon;

}
h4{
  font-size: 8;
  color: purple;
}
.My-background p{
  background-color:lightblue;
}
.My-education p{
  background-color:pink;
}
.My-hobbies{
  background-color:grey;
}
.box-model{
  border:8px solid purple;
  padding: 6px;
  margin: 15px;
}
