h1{
  color:black;
  text-align:center;
  background-color: lightblue;
}
h2{
  color:blue;
  font-style:italic;
  font-size:14;
}
img{
  width:120px;
  height:130px;
}
img {
  float: left;
}
.sidebar{
  width: 40%;
  float: right;
  background-color: grey;
}
.changes{
  color: maroon;
}
.webs{
  color: violet;
}
.pets{
  color:brown;
}
.box-model{
  border:6px solid purple;
  padding: 6px;
  margin: 15px;
}
